---
title: A Night In Japan
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    layout: default
- scope:
    path: ''
    type: posts
  values:
    layout: post
email: your-email@example.com
description: A blog about Japan.
baseurl: 
url: 
twitter_username: aaronmemon
github_username: amemon0326
theme: minima
plugins:
- jekyll-feed
